In [15]:
#Loading all the necessary libraries
import os
import pandas as pd
import numpy as np
from scipy.stats import levene
from scipy.stats import skew
from scipy.stats import kurtosis
from scipy.stats import shapiro
import matplotlib.pyplot as plt
import streamlit as st

In [19]:
#Loading the Data.
df=pd.read_csv("C:\\Users\\jhalk\\OneDrive\\Desktop\\PYTHON\\Imports_Exports_Dataset.csv")
df

,Transaction_ID,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Colombia,describe,Export,1979,9506.57,07-12-2023,Machinery,Robertbury,620537,4248.65,Air,"Garrison, Hubbard and Hendricks",Seth Hall,21000294,Cash on Delivery
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Chile,president,Export,5763,7100.91,04-04-2023,Clothing,Shahport,927600,4340.81,Air,Webb-Mack,Kimberly Ryan,88738432,Prepaid
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Turkey,far,Import,5740,2450.34,21-08-2024,Electronics,South Joshuatown,299258,4538.41,Air,"Mendez, Jones and Johnson",Ryan Silva,89922099,Prepaid
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Christmas Island,agency,Export,2592,7226.42,09-05-2022,Furniture,Adamfort,996084,4886.14,Air,Schroeder-Smith,Jacob Gray,63216265,Net 60
4,e443df78-9558-467f-9ba9-1faf7a024204,Finland,policy,Export,2622,2817.29,03-04-2023,Electronics,Juliebury,555981,4406.74,Air,Zimmerman LLC,Amy Stephens,94600248,Cash on Delivery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,48df15a8-0823-4964-8c16-eddf2756f382,Marshall Islands,not,Export,2860,2055.19,09-07-2024,Furniture,South Karenfort,393463,4120.35,Land,Smith-Lewis,Darlene Davis,29605073,Net 60
14996,31106617-94a6-4646-a001-5e7bd45abc26,Bermuda,air,Export,2443,6407.06,18-06-2024,Furniture,Jeffreyside,484143,1832.71,Air,Jones Group,John Ramos,39044695,Cash on Delivery
14997,ee485839-fbde-4ced-af18-d98f5e863081,Tanzania,show,Export,1702,9918.29,30-04-2020,Toys,North Meganborough,354935,4203.52,Land,Barnes-Romero,Rebecca Phelps,78492040,Net 30
14998,5acd54aa-ec8c-4055-be8b-a447861a471c,Tuvalu,TV,Export,8108,9288.57,29-04-2021,Clothing,Villafurt,234296,1597.72,Land,"Smith, Allison and Bennett",Scott Yates,20799602,Cash on Delivery
14999,5cc039d0-a052-41fd-bfbb-c9f60c4565ac,North Macedonia,year,Import,5635,561.33,25-12-2019,Clothing,West Gary,766709,2913.82,Air,Fleming-Miles,Steven Young,79237293,Net 30

In [7]:
#Displaying the Dimensions of Test Data.
df.shape

(15000, 16)

In [9]:
#Creating and displaying an Unique Sample of 2001 Records using Student Roll Number as Random State.
my_sample=df.sample(n=3001, random_state=55017)
my_sample

,Transaction_ID,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
3003,d2671669-e407-43b7-a0b8-37edb3a291dc,Montenegro,friend,Import,8860,4364.64,06-11-2020,Machinery,East Cynthia,755286,519.34,Air,Roberts-Downs,Brian Murphy,20497506,Net 60
4416,f548d769-1c17-472e-ad13-929117a57420,Saint Pierre and Miquelon,report,Export,2845,7553.94,04-04-2021,Toys,Portermouth,205532,1290.80,Sea,"Taylor, Burns and Davis",Zachary Huff,24596725,Cash on Delivery
9842,e516927d-39c1-4b66-9e3b-05e15f955a27,Hungary,serious,Export,6596,5776.13,08-09-2019,Toys,Port Michelechester,315065,1312.92,Land,Hopkins-Hurst,Donna Juarez,24492631,Cash on Delivery
14051,2e2c8c68-e237-4479-a461-feaf9e236ae2,France,such,Export,3853,8189.99,04-11-2020,Furniture,Welchmouth,262504,2953.48,Air,Robertson-Hogan,Bryan Skinner,52990385,Net 30
10751,5b739028-633c-4e6e-9aae-54775184ea2c,Reunion,eat,Export,3667,8113.23,04-06-2022,Machinery,Aguirreburgh,621270,63.58,Sea,Keith-Fields,Raymond Ross,4392486,Prepaid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14470,7e877cf3-257f-4404-b2df-df6d4a482025,Fiji,road,Export,6441,2277.72,26-09-2022,Machinery,North Aaronview,922135,360.87,Land,Mathews-Gallegos,Vanessa Lewis,85144816,Net 60
1587,9bb3aa4c-5147-43fa-ab7a-00d8dec0efbf,Reunion,ok,Import,1846,279.32,03-11-2022,Machinery,East Meganhaven,446315,1182.80,Air,Bradford-Jackson,Paige Hunter,21544966,Prepaid
2540,26a84f0f-7596-4632-98ed-b6eec235870a,Niger,policy,Import,5451,7656.92,16-06-2023,Machinery,Millerberg,361986,4081.73,Air,Mcdonald-Lewis,Gabrielle Webb,28239227,Net 30
7457,89f6116b-88a2-4644-92d8-80ac5c4c2d13,Saint Kitts and Nevis,step,Export,9540,531.58,19-09-2020,Clothing,West Michellestad,743189,471.68,Land,Turner LLC,Jeffrey Allen,55857093,Net 60
13772,602a2fa7-6336-4dd7-a167-db7a95b0506f,Vanuatu,week,Import,1943,9641.06,12-08-2021,Furniture,Rebeccaberg,163887,2653.62,Air,"Dawson, Davis and Johnson",Wesley Arias,36209779,Net 30

In [11]:
#Displaying the Dimensions of Sample Data.
my_sample.shape

(3001, 16)

In [13]:
#Displaying Sample Data Information.
my_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3001 entries, 3003 to 13772
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_ID   3001 non-null   object
 1   Country          3001 non-null   object
 2   Product          3001 non-null   object
 3   Import_Export    3001 non-null   object
 4   Quantity         3001 non-null   int64
 5   Value            3001 non-null   float64
 6   Date             3001 non-null   object
 7   Category         3001 non-null   object
 8   Port             3001 non-null   object
 9   Customs_Code     3001 non-null   int64
 10  Weight           3001 non-null   float64
 11  Shipping_Method  3001 non-null   object
 12  Supplier         3001 non-null   object
 13  Customer         3001 non-null   object
 14  Invoice_Number   3001 non-null   int64
 15  Payment_Terms    3001 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 398.6+ KB

In [15]:
#Displaying the First 03 Records of the Sample Data.
my_sample.head(3)

,Transaction_ID,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
3003,d2671669-e407-43b7-a0b8-37edb3a291dc,Montenegro,friend,Import,8860,4364.64,06-11-2020,Machinery,East Cynthia,755286,519.34,Air,Roberts-Downs,Brian Murphy,20497506,Net 60
4416,f548d769-1c17-472e-ad13-929117a57420,Saint Pierre and Miquelon,report,Export,2845,7553.94,04-04-2021,Toys,Portermouth,205532,1290.80,Sea,"Taylor, Burns and Davis",Zachary Huff,24596725,Cash on Delivery
9842,e516927d-39c1-4b66-9e3b-05e15f955a27,Hungary,serious,Export,6596,5776.13,08-09-2019,Toys,Port Michelechester,315065,1312.92,Land,Hopkins-Hurst,Donna Juarez,24492631,Cash on Delivery

In [17]:
#Displaying the List of Names of the Variables.
my_sample.columns

Index(['Transaction_ID', 'Country', 'Product', 'Import_Export', 'Quantity',
       'Value', 'Date', 'Category', 'Port', 'Customs_Code', 'Weight',
       'Shipping_Method', 'Supplier', 'Customer', 'Invoice_Number',
       'Payment_Terms'],
      dtype='object')

In [19]:
#Identifying & Displaying the List of following Variables:
# 1. Index Variables[Transaction_Id]
# 2. Categorical Variables - Nominal Type [Country,Product,Import_Export,Category,Port,Shipping_Method,Supplier,Customer,Payment_Terms]
# 3. Categorical Variables - Ordinal Type.
# 4. Non-Categorical Variables [Quantity,Value,Date,Customs_Code,Weight,Invoice_Number]

In [21]:
#Subset and Display the Non-Categorical Variables.
non_cat=my_sample[['Quantity', 'Value', 'Date', 'Customs_Code', 'Weight','Invoice_Number']]
non_cat

       Quantity    Value        Date  Customs_Code   Weight  Invoice_Number
3003       8860  4364.64  06-11-2020        755286   519.34        20497506
4416       2845  7553.94  04-04-2021        205532  1290.80        24596725
9842       6596  5776.13  08-09-2019        315065  1312.92        24492631
14051      3853  8189.99  04-11-2020        262504  2953.48        52990385
10751      3667  8113.23  04-06-2022        621270    63.58         4392486
...         ...      ...         ...           ...      ...             ...
14470      6441  2277.72  26-09-2022        922135   360.87        85144816
1587       1846   279.32  03-11-2022        446315  1182.80        21544966
2540       5451  7656.92  16-06-2023        361986  4081.73        28239227
7457       9540   531.58  19-09-2020        743189   471.68        55857093
13772      1943  9641.06  12-08-2021        163887  2653.62        36209779

[3001 rows x 6 columns]

In [25]:
#Displaying the Descriptive Statistics of the Non-Categorical Subset.
non_cat.describe()

           Quantity        Value   Customs_Code       Weight  Invoice_Number
count   3001.000000  3001.000000    3001.000000  3001.000000    3.001000e+03
mean    4962.490170  5024.565765  543920.620793  2514.487907    5.009049e+07
std     2883.486344  2855.561840  262622.441827  1442.711941    2.905312e+07
min        6.000000   109.900000  100147.000000     1.980000    7.877000e+04
25%     2438.000000  2602.540000  321899.000000  1274.600000    2.531569e+07
50%     4903.000000  5062.130000  536066.000000  2521.370000    4.953186e+07
75%     7445.000000  7464.650000  775990.000000  3738.940000    7.583276e+07
max    10000.000000  9999.130000  999783.000000  4999.520000    9.999723e+07

In [27]:
#Subset and Display the Categorical Variables.
cat_df=my_sample[['Country', 'Product', 'Import_Export', 'Category', 'Port', 'Shipping_Method', 'Supplier','Customer','Payment_Terms']]
cat_df

,Country,Product,Import_Export,Category,Port,Shipping_Method,Supplier,Customer,Payment_Terms
3003,Montenegro,friend,Import,Machinery,East Cynthia,Air,Roberts-Downs,Brian Murphy,Net 60
4416,Saint Pierre and Miquelon,report,Export,Toys,Portermouth,Sea,"Taylor, Burns and Davis",Zachary Huff,Cash on Delivery
9842,Hungary,serious,Export,Toys,Port Michelechester,Land,Hopkins-Hurst,Donna Juarez,Cash on Delivery
14051,France,such,Export,Furniture,Welchmouth,Air,Robertson-Hogan,Bryan Skinner,Net 30
10751,Reunion,eat,Export,Machinery,Aguirreburgh,Sea,Keith-Fields,Raymond Ross,Prepaid
...,...,...,...,...,...,...,...,...,...
14470,Fiji,road,Export,Machinery,North Aaronview,Land,Mathews-Gallegos,Vanessa Lewis,Net 60
1587,Reunion,ok,Import,Machinery,East Meganhaven,Air,Bradford-Jackson,Paige Hunter,Prepaid
2540,Niger,policy,Import,Machinery,Millerberg,Air,Mcdonald-Lewis,Gabrielle Webb,Net 30
7457,Saint Kitts and Nevis,step,Export,Clothing,West Michellestad,Land,Turner LLC,Jeffrey Allen,Net 60
13772,Vanuatu,week,Import,Furniture,Rebeccaberg,Air,"Dawson, Davis and Johnson",Wesley Arias,Net 30

In [29]:
#Display the Descriptive Statistics of any 02 Categorical Variables.
country_des_stats = my_sample.groupby('Country').count()
import_export_des_stats = my_sample.groupby('Import_Export').count()
country_des_stats , import_export_des_stats

(                   Transaction_ID  Product  Import_Export  Quantity  Value  \
 Country
 Afghanistan                    13       13             13        13     13
 Albania                        12       12             12        12     12
 Algeria                        14       14             14        14     14
 American Samoa                 16       16             16        16     16
 Andorra                        14       14             14        14     14
 ...                           ...      ...            ...       ...    ...
 Wallis and Futuna              12       12             12        12     12
 Western Sahara                 15       15             15        15     15
 Yemen                          13       13             13        13     13
 Zambia                         14       14             14        14     14
 Zimbabwe                        8        8              8         8      8

                    Date  Category  Port  Customs_Code  Weight  \
 Country
 Afghanistan          13        13    13            13      13
 Albania              12        12    12            12      12
 Algeria              14        14    14            14      14
 American Samoa       16        16    16            16      16
 Andorra              14        14    14            14      14
 ...                 ...       ...   ...           ...     ...
 Wallis and Futuna    12        12    12            12      12
 Western Sahara       15        15    15            15      15
 Yemen                13        13    13            13      13
 Zambia               14        14    14            14      14
 Zimbabwe              8         8     8             8       8

                    Shipping_Method  Supplier  Customer  Invoice_Number  \
 Country
 Afghanistan                     13        13        13              13
 Albania                         12        12        12              12
 Algeria                         14        14        14              14
 American Samoa                  16        16        16              16
 Andorra                         14        14        14              14
 ...                            ...       ...       ...             ...
 Wallis and Futuna               12        12        12              12
 Western Sahara                  15        15        15              15
 Yemen                           13        13        13              13
 Zambia                          14        14        14              14
 Zimbabwe                         8         8         8               8

                    Payment_Terms
 Country
 Afghanistan                   13
 Albania                       12
 Algeria                       14
 American Samoa                16
 Andorra                       14
 ...                          ...
 Wallis and Futuna             12
 Western Sahara                15
 Yemen                         13
 Zambia                        14
 Zimbabwe                       8

 [243 rows x 15 columns],
                Transaction_ID  Country  Product  Quantity  Value  Date  \
 Import_Export
 Export                   1510     1510     1510      1510   1510  1510
 Import                   1491     1491     1491      1491   1491  1491

                Category  Port  Customs_Code  Weight  Shipping_Method  \
 Import_Export
 Export             1510  1510          1510    1510             1510
 Import             1491  1491          1491    1491             1491

                Supplier  Customer  Invoice_Number  Payment_Terms
 Import_Export
 Export             1510      1510            1510           1510
 Import             1491      1491            1491           1491  )

In [31]:
#Display the Most and Least Preferred Shipping Method.
shipping_method_counts = my_sample['Shipping_Method'].value_counts()

# Most preferred ship mode
most_preferred = shipping_method_counts.idxmax()
most_preferred_count = shipping_method_counts.max()

# Least preferred ship mode
least_preferred = shipping_method_counts.idxmin()
least_preferred_count = shipping_method_counts.min()

# Display the results
print(f"Most Preferred Shipping Method: {most_preferred} with {most_preferred_count} orders.")
print(f"Least Preferred Shipping Method: {least_preferred} with {least_preferred_count} orders.")

Most Preferred Shipping Method: Sea with 1057 orders.
Least Preferred Shipping Method: Land with 950 orders.

Observation : We can see that "Sea" is the most preferred shipping method with 1057 orders, while "Land" is the least preferred with 950 orders. The counts are very close, indicating that there is nearly equal demand for both shipping methods in the dataset.

Managerial Insight :

The near-equal preference for "Sea" and "Land" shipping suggests that customers have varied needs regarding delivery speed and cost.
"Sea" shipping might be more cost-effective for bulkier items or short distances, whereas "Land" shipping is likely used for time-sensitive or international deliveries.
To optimize logistics, management could explore offering more targeted incentives (e.g., discounts on less frequently used methods during low-demand periods) to balance the load between these shipping methods and ensure smoother operations during peak times.

In [33]:
#Country with highest number of transactions 
transactions_bycountry = my_sample.groupby('Country')[['Transaction_ID']].count()
max_transactions = transactions_bycountry.sort_values('Transaction_ID',ascending=False)
max_transactions.head(1)

         Transaction_ID
Country
Congo                28

Observation : Congo has the highest number of transactions, with 28 recorded.

Managerial Insight : Focusing on Congo for future business strategies may yield higher returns, as it represents a significant portion of the company's transaction volume. Strengthening relationships and exploring additional opportunities in this market could enhance profitability.

In [35]:
#Country with least number of transactions 
transactions_bycountry = my_sample.groupby('Country')[['Transaction_ID']].count()
least_transactions = transactions_bycountry.sort_values('Transaction_ID',ascending=True)
least_transactions.head(1)

         Transaction_ID
Country
Ireland               5

Observation : Ireland has the lower number of transactions, with only 5 recorded suggesting that enhancement solutions are required in this market area.

Managerial Insight : Ireland, with only 5 transactions, represents an underperforming market compared to other countries. Management should evaluate whether this low activity is due to market potential, lack of resources, or ineffective strategies and decide if targeted marketing or operational adjustments are needed to improve transaction volume in this region.

In [37]:
#Average value of imports vs. exports
imports = my_sample[my_sample['Import_Export'] == 'Import']
exports = my_sample[my_sample['Import_Export'] == 'Export']

average_import_value = imports['Value'].mean()
average_export_value = exports['Value'].mean()

print(f"The average value of imports is {average_import_value:.2f}")
print(f"The average value of exports is {average_export_value:.2f}")

The average value of imports is 5006.34
The average value of exports is 5042.56

Observation: 
The average value of imports ($5006.34) is slightly lower than the average value of exports ($5042.56), indicating a marginal difference between the two trade flows.

Managerial Insight: 
Given the higher average export value, management might focus on optimizing supply chain costs for exports to enhance profitability. Simultaneously, exploring opportunities to boost the average value of impots could enhance overall revenue, balancing the trade dynamics.

In [39]:
#Total value of exports from the top 3 exporting countries and also display the top 3 countries
exports = my_sample[my_sample['Import_Export'] == 'Export']

total_export_values = exports.groupby('Country')['Value'].sum()
top_3_exporting_values = total_export_values.sort_values(ascending=False).head(3)
total_value_top3 = top_3_exporting_values.sum()
print(f"The total value of exports from the top 3 exporting countries is {total_value_top3:.2f}")
print("\nTop 3 Exporting Countries:\n", top_3_exporting_values)

The total value of exports from the top 3 exporting countries is 235656.53

Top 3 Exporting Countries:
 Country
Congo      84682.56
Hungary    83004.17
Israel     67969.80
Name: Value, dtype: float64

Observation: 
The top 3 exporting countries—Congo, Hungary and Israel account for a significant total export value of 84682.56,83004.17,67969.80 with Congo leading the group at 84682.56.

Managerial Insight: 
Given that a large portion of export value is concentrated in these three countries, management should focus on strengthening trade relationships and logistical efficiencies with Congo, Hungary and Israel to maximize export growth and streamline operations in these high-performing regions.

In [41]:
#Product having the highest transaction value across all countries
total_value_by_product =my_sample.groupby('Product')['Value'].sum()

product_with_max_value = total_value_by_product.idxmax()
max_value = total_value_by_product.max()

print(f"The product with the highest transaction value is '{product_with_max_value}' with a value of {max_value:.2f}.")

The product with the highest transaction value is 'data' with a value of 58723.20.

Observation: The product 'data' has the highest transaction value across all countries, totaling $58723.20 indicating strong demand or market preference.

Managerial Insight: Management should leverage this insight by prioritizing marketing and supply chain efforts around the 'data' product. Focusing on enhancing availability, optimizing pricing strategies, and exploring potential partnerships could significantly boost sales and strengthen market positioning.

In [43]:
#Product category with the most number of transactions 

total_value_by_category = my_sample.groupby('Category')['Transaction_ID'].count()
category_with_most_transactions = total_value_by_category.idxmax()
most_transactions = total_value_by_category.max()

print(f"The product category with the most transactions is '{category_with_most_transactions}' with {most_transactions} transactions.")

The product category with the most transactions is 'Clothing' with 625 transactions.


Observation: The 'Clothing' category leads with the highest number of transactions at 625, indicating a robust market activity and demand for machinery products.

Managerial Insight: Given the high transaction volume in the clothing category, management should consider enhancing inventory management and supply chain efficiencies for these products. Additionally, investing in targeted marketing campaigns and exploring partnerships with key players in this sector could further capitalize on this demand and drive revenue growth.

In [45]:
#Total number of transactions in each country by month

my_sample['Date'] = pd.to_datetime(my_sample['Date'], format='%d-%m-%Y')
my_sample['Year_Month'] = my_sample['Date'].dt.to_period('M')
transactions_by_country_month = my_sample.groupby(['Country', 'Year_Month'])['Transaction_ID'].count()
transactions_by_country_month = transactions_by_country_month.reset_index()
print(transactions_by_country_month)

          Country Year_Month  Transaction_ID
0     Afghanistan    2020-01               1
1     Afghanistan    2020-05               1
2     Afghanistan    2020-08               1
3     Afghanistan    2020-11               1
4     Afghanistan    2020-12               1
...           ...        ...             ...
2701     Zimbabwe    2021-03               1
2702     Zimbabwe    2022-01               1
2703     Zimbabwe    2023-08               1
2704     Zimbabwe    2024-07               1
2705     Zimbabwe    2024-08               1

[2706 rows x 3 columns]

Observation: The sample dataset reveals a total of 2706 transactions categorized by country and month, indicating diverse trading activity across multiple countries over several months.

Managerial Insight: Management should analyze transaction trends over time to identify peak trading months and regional patterns. This information can inform inventory planning, resource allocation, and targeted marketing strategies, allowing the company to optimize operations and enhance customer satisfaction during high-demand periods.

In [47]:
#Display the country having the highest average value per transaction
average_value_per_transaction = my_sample.groupby('Country')['Value'].mean()

sorted_average_value = average_value_per_transaction.sort_values(ascending=False).head(1)

print("Country with the highest average value per transaction:\n")
print(sorted_average_value)

Country with the highest average value per transaction:

Country
Lebanon    6994.91
Name: Value, dtype: float64

Observation: Lebanon has the highest average value per transaction at $6994.91, indicating that transactions from this country tend to involve higher-value goods or services.

Managerial Insight: Management should consider focusing on Lebanon as a key market for high-value offerings. Strengthening relationships with local partners and tailoring marketing strategies to emphasize premium products could enhance sales and profitability in this lucrative market segment

In [49]:
#Product category with the least number of transactions 

total_value_by_category = my_sample.groupby('Category')['Transaction_ID'].count()
category_with_least_transactions = total_value_by_category.idxmin()
least_transactions = total_value_by_category.min()

print(f"The product category with the most transactions is '{category_with_least_transactions}' with {least_transactions} transactions.")

The product category with the most transactions is 'Toys' with 569 transactions.

Observation: The 'toys' category has the least number of transactions, totaling 569, suggesting lower market activity or demand compared to other categories.

Managerial Insight: Management should investigate the reasons behind the low transaction volume in the toys category. This may involve conducting market research to identify potential barriers to sales, enhancing product offerings, or refining marketing strategies to stimulate demand and improve transaction levels in this segment.

In [51]:
#Display the Most preferred payment term method

payment_term_counts = my_sample['Payment_Terms'].value_counts()

most_preferred_payment_term = payment_term_counts.idxmax()
most_preferred_payment_term_count = payment_term_counts.max()


print(f"Most preferred payment terms method: {most_preferred_payment_term} with {most_preferred_payment_term_count} orders.")

Most preferred payment terms method: Net 30 with 761 orders.

Observation: The most preferred payment term method is "Net 30," with a total of 761 orders, indicating a strong preference among clients for this extended payment option.

Managerial Insight: Management should consider standardizing "Net 30" as the default payment term to enhance customer satisfaction and potentially increase sales. Additionally, understanding the reasons behind this preference can help tailor financial offerings and improve client relationships, further optimizing cash flow management.

In [53]:
#Display the least preferred payment term method

payment_term_counts = my_sample['Payment_Terms'].value_counts()

least_preferred_payment_term = payment_term_counts.idxmin()
least_preferred_payment_term_count = payment_term_counts.min()


print(f"Least preferred payment terms method: {least_preferred_payment_term} with {least_preferred_payment_term_count} orders.")

Least preferred payment terms method: Net 60 with 731 orders.

Observation: The least preferred payment term method is "Net 60," with only 731 orders, indicating a lack of confidence or convenience among customers for this payment option.

Managerial Insight: Management should analyze the factors contributing to the low popularity of "Net 60" and consider providing additional payment options or incentives to encourage its use. Improving the perception of security and reliability for this payment method could help increase its adoption and enhance customer satisfaction.

In [55]:
#Display the product category with the highest total weight being shipped 

total_value_by_category = my_sample.groupby('Category')['Weight'].sum()
category_with_max_weight = total_value_by_category.idxmax()
max_weight = round(total_value_by_category.max(),2)

print(f"The product category with the highest total weight being shipped is '{category_with_max_weight}' with a total weight of {max_weight} units.")

The product category with the highest total weight being shipped is 'Clothing' with a total weight of 1576153.1 units.

Observation: The 'Clothing' category has the highest total weight being shipped, totaling 1576153.1 units, indicating significant volume in this product line.

Managerial Insight: Management should optimize logistics and supply chain management specifically for the clothing category to ensure efficient handling and transportation of these heavy products. Additionally, focusing on inventory management and potentially exploring bulk shipping options could reduce costs and enhance service delivery for this high-volume category.

In [57]:
#Display the product category with the least total weight being shipped 

total_value_by_category = my_sample.groupby('Category')['Weight'].sum()
category_with_least_weight = total_value_by_category.idxmin()
least_weight = round(total_value_by_category.min(),2)

print(f"The product category with the least total weight being shipped is '{category_with_least_weight}' with a total weight of {least_weight} units.")

The product category with the least total weight being shipped is 'Toys' with a total weight of 1430300.83 units.

Observation: The 'Toys' category has the least total weight being shipped, amounting to 1430300.83 units, indicating a relatively lighter product profile compared to other categories.

Managerial Insight: Management should evaluate the reasons behind the low shipping weight in the Toys category, which may include product design or market preferences. Focusing on optimizing packaging and shipping processes for lighter items could reduce shipping costs and enhance competitiveness in pricing, potentially increasing sales in this category.

In [59]:
#Display the country having the least average value per transaction

average_value_per_transaction = my_sample.groupby('Country')['Value'].mean()

least_average_value = average_value_per_transaction.sort_values(ascending=True).head(1)

print("Country with the least average value per transaction:\n")
print(least_average_value)

Country with the least average value per transaction:

Country
Ireland    1327.188
Name: Value, dtype: float64

Observation: Ireland has the least average value per transaction at $1327.188 indicating that the transactions from this country involve relatively low-value goods or services.

Managerial Insight: Management should investigate the factors contributing to the low average transaction value in Ireland. By understanding market dynamics and customer preferences, the company can explore opportunities to introduce higher-value products or services, thereby enhancing revenue and improving the overall transaction value in this market.

In [61]:
#Total value of imports from the top 3 importing countries and displaying the top 3 countries
imports = my_sample[my_sample['Import_Export'] == 'Import']

total_import_values = imports.groupby('Country')['Value'].sum()
top_3_importing_values = total_import_values.sort_values(ascending=False).head(3)
total_value_top3 = top_3_importing_values.sum()
print(f"The total value of imports from the top 3 importing countries is {total_value_top3:.2f}")
print("\nTop 3 Importing Countries:\n", top_3_importing_values)

The total value of imports from the top 3 importing countries is 188823.28

Top 3 Importing Countries:
 Country
Bermuda        64429.95
Switzerland    62843.36
Egypt          61549.97
Name: Value, dtype: float64

Observation: 
The total value of imports from the top three importing countries—Bermuda, Switzerland and Egypt—amounts to $188823.28 with Bermuda being the largest contributor at $64429.95.

Managerial Insight: 
Management should focus on strengthening relationships and logistics with these key importing countries, particularly Bermuda, to ensure a steady supply chain. By optimizing import strategies and potentially negotiating better terms, the company can enhance its operational efficiency and capitalize on the significant import value from these regions.

In [63]:
#Product having the least transaction value across all countries
total_value_by_product = my_sample.groupby('Product')['Value'].sum()

product_with_least_value = total_value_by_product.idxmin()
least_value = total_value_by_product.min()

print(f"The product with the least transaction value is '{product_with_least_value}' with a value of {least_value:.2f}.")

The product with the least transaction value is 'teacher' with a value of 132.20.

Observation: The product with the least transaction value is 'teacher', totaling only $132.20, indicating it is likely underperforming in the market.

Managerial Insight: Management should assess the reasons behind the low transaction value of 'teacher.' This may involve evaluating market demand, pricing strategies, or marketing efforts. By identifying and addressing the factors contributing to its poor performance, the company could enhance its sales strategy, potentially leading to improved revenue from this product category.

In [65]:
#Supplier who has conducted the highest number of transactions

transaction_count_by_supplier = my_sample.groupby('Supplier')['Transaction_ID'].count()

top_supplier = transaction_count_by_supplier.idxmax()
max_transactions = transaction_count_by_supplier.max()

print(f"The supplier with the highest number of transactions is '{top_supplier}' with {max_transactions} transactions.")

The supplier with the highest number of transactions is 'Johnson PLC' with 7 transactions.

Observation: The supplier with the highest number of transactions is 'Johnson PLC,' which has conducted 7 transactions, indicating a potential strong partnership or reliance on this supplier for operations.

Managerial Insight: Management should consider evaluating the terms and efficiency of its relationship with Johnson PLC. Given their significant involvement, optimizing this partnership could enhance supply chain efficiency, improve pricing, and potentially lead to better product offerings, thereby strengthening overall business performance.

In [67]:
#Transactions made in each port
transactions_per_port = my_sample['Port'].`value_counts()
transactions_per_port

Port
New Michael        5
Johnsonshire       5
Port David         5
South Stephanie    4
New John           4
                  ..
Maloneburgh        1
Angelicastad       1
Sherrystad         1
Stevenville        1
Rebeccaberg        1
Name: count, Length: 2725, dtype: int64

Observation: The dataset reveals that Port New MIchael, Johnsonshire, Port David each account for the highest number of transactions (5 each), while many ports, including Maloneburgh,Angelicastad,Sherrystad,Stevenville, Rebeccaberg have only a single transaction, indicating uneven transaction distribution across ports.

Managerial Insight: Management should analyze the efficiency and throughput of the most frequently used ports, like Port New MIchael, Johnsonshire, Port David , to optimize logistics and shipping processes. Additionally, assessing the underutilized ports could unveil opportunities for diversification in shipping routes, potentially reducing congestion and improving overall operational resilience.

In [69]:
#The total weight of exported products versus imported products

imports = my_sample[my_sample['Import_Export'] == 'Import']
exports = my_sample[my_sample['Import_Export'] == 'Export']

total_imported_weight = imports['Weight'].sum()
total_exported_weight = exports['Weight'].sum()

print(f"The total weight of exported products is {total_exported_weight:.2f} and total weight of imported products is {total_imported_weight:.2f}.")

The total weight of exported products is 3784479.65 and total weight of imported products is 3761498.56.

Observation: The total weight of exported products (3761498.56 units) exceeds that of imported products (3784479.65 units), indicating a higher reliance on exports compared to imports.

Managerial Insight: This imbalance suggests a need for management to evaluate its supply chain strategy, focusing on enhancing local production capabilities or diversifying import markets. By reducing dependency on exports, the company could improve profitability and strengthen its market position against potential supply chain disruptions.

In [71]:
#The average quantity of imports and exports per country

exports = my_sample[my_sample['Import_Export'] == 'Export']
imports = my_sample[my_sample['Import_Export'] == 'Import']

average_export_quantity_by_country = exports.groupby('Country')['Quantity'].mean()

average_import_quantity_by_country = imports.groupby('Country')['Quantity'].mean()

average_export_quantity_by_country = average_export_quantity_by_country.reset_index()
average_import_quantity_by_country = average_import_quantity_by_country.reset_index()

print("Average Export Quantity per Country:\n", average_export_quantity_by_country)
print("\nAverage Import Quantity per Country:\n", average_import_quantity_by_country)

Average Export Quantity per Country:
                Country     Quantity
0          Afghanistan  5575.600000
1              Albania  6449.857143
2              Algeria  4851.285714
3       American Samoa  5095.142857
4              Andorra  7126.428571
..                 ...          ...
238  Wallis and Futuna  6584.166667
239     Western Sahara  5732.000000
240              Yemen  4977.500000
241             Zambia  2765.125000
242           Zimbabwe  4729.000000

[243 rows x 2 columns]

Average Import Quantity per Country:
                Country     Quantity
0          Afghanistan  4576.750000
1              Albania  4280.600000
2              Algeria  4192.285714
3       American Samoa  4369.888889
4              Andorra  6495.857143
..                 ...          ...
238  Wallis and Futuna  3362.666667
239     Western Sahara  5529.090909
240              Yemen  5673.200000
241             Zambia  3390.833333
242           Zimbabwe  6319.500000

[243 rows x 2 columns]

Observation: The average export quantity per country varies significantly, with countries like Afghanistan averaging 5575.6 units exported, while others, such as American Samoa, export an average of only 5095.142857 units. In contrast, the average import quantity also shows variability, with Afghanistan averaging 4576.75 units imported.

Managerial Insight: This data highlights the need for targeted market strategies. Countries with higher export averages could be potential growth markets , while those with lower import averages may require a deeper understanding of local demand dynamics. Adjusting inventory and supply chain strategies to align with these insights could enhance operational efficiency and improve market penetration.

In [73]:
#Customer having the highest transaction value 

total_transaction_value_by_customer = my_sample.groupby('Customer')['Value'].sum()

top_customer = total_transaction_value_by_customer.idxmax()
highest_transaction_value = total_transaction_value_by_customer.max()


print(f"The customer with the highest transaction value is '{top_customer}' with a total transaction value of {highest_transaction_value} units.")

The customer with the highest transaction value is 'Sarah Nguyen' with a total transaction value of 21569.0 units.

Observation: Sarah Nguyen stands out as the customer with the highest transaction value, totaling 21569 units. This indicates a strong business relationship, possibly suggesting that he is a key client for the company.

Managerial Insight: Given Sarah Nguyen's significant contribution to transaction value, it would be prudent to foster this relationship further through personalized communication, loyalty incentives, or tailored offerings. Engaging with top customers can enhance customer satisfaction and retention, ultimately driving revenue growth for the business.

In [75]:
#The most frequent customs code used in transactions

customs_code_count = my_sample['Customs_Code'].value_counts()

most_used_customs_code = customs_code_count.idxmax()
most_used_customs_code_count = customs_code_count.max()


print(f"The customs code used most frequently is {most_used_customs_code} with {most_used_customs_code_count} occurrences.")

The customs code used most frequently is 800344 with 2 occurrences.

Observation: The customs code 800344 is the most frequently used in transactions, occurring twice. This may indicate a common product or service type associated with this code.

Managerial Insight: Given the frequent use of customs code 800344, management should analyze the associated products or services to identify opportunities for optimization, such as bulk purchasing agreements or targeted marketing strategies. Additionally, understanding the reasons behind its prevalence can help streamline processes and enhance compliance with customs regulations.

In [77]:
#The total value of transactions grouped by payment terms

total_value_by_payment_terms = my_sample.groupby('Payment_Terms')['Value'].sum()

total_value_by_payment_terms = total_value_by_payment_terms.reset_index()

print(total_value_by_payment_terms)

      Payment_Terms       Value
0  Cash on Delivery  3826919.39
1            Net 30  3747721.68
2            Net 60  3639934.03
3           Prepaid  3864146.76

Observation: The total value of transactions shows that "Prepaid" payment terms have the highest transaction value at approximately 3864146.76 units, closely followed by "Cash on Delivery" at around 3826919.39 units. "Net 60" and "Net 30" have lower transaction values.

Managerial Insight: The dominance of "Prepaid" payment terms suggests that customers may prefer longer payment cycles, which could affect cash flow. Management should evaluate the implications of these terms on liquidity and consider strategies to encourage the adoption of more immediate payment methods, like "Cash on Delivery" to enhance cash flow and reduce financial risk.

In [79]:
#How does the value of transactions vary by product category?

transaction_value_by_category = my_sample.groupby('Category')['Value'].agg(['sum', 'mean', 'count']).reset_index()

transaction_value_by_category.columns = ['Category', 'Total Transaction Value', 'Average Transaction Value', 'Transaction Count']

print(transaction_value_by_category)

      Category  Total Transaction Value  Average Transaction Value  \
0     Clothing               3121799.60                4994.879360
1  Electronics               2972166.55                5063.316099
2    Furniture               3061419.53                5119.430652
3    Machinery               3114174.35                5006.711174
4         Toys               2809161.83                4937.015518

   Transaction Count
0                625
1                587
2                598
3                622
4                569

Observation: The analysis reveals that the "Clothing" category has the highest total transaction value at approximately 3121799.6 units, despite having a slightly lower average transaction value compared to categories like "Electronics" and "Furniture." All categories show a significant number of transactions, with "Clothing" having the highest transaction count.

Managerial Insight: The prominence of the "Clothing" category in total transaction value indicates a strong market demand, suggesting that resources should be allocated to enhance supply chain efficiency and product availability in this category. Additionally, the relatively high average transaction values in categories like "Electronics" may present opportunities for targeted marketing strategies to boost sales and customer engagement further.

In [81]:
#How has the transaction count for imports and exports changed over time (monthly/yearly)?

my_sample['Date'] = pd.to_datetime(my_sample['Date'])

my_sample['Year'] = my_sample['Date'].dt.year
my_sample['Month'] = my_sample['Date'].dt.month

yearly_transaction_count = my_sample.groupby(['Year', 'Import_Export'])['Transaction_ID'].count().reset_index()

monthly_transaction_count = my_sample.groupby(['Year', 'Month', 'Import_Export'])['Transaction_ID'].count().reset_index()

print("Yearly Transaction Count (Imports vs Exports):\n", yearly_transaction_count)
print("\nMonthly Transaction Count (Imports vs Exports):\n", monthly_transaction_count)

Yearly Transaction Count (Imports vs Exports):
     Year Import_Export  Transaction_ID
0   2019        Export              90
1   2019        Import              95
2   2020        Export             320
3   2020        Import             316
4   2021        Export             297
5   2021        Import             274
6   2022        Export             326
7   2022        Import             292
8   2023        Export             302
9   2023        Import             335
10  2024        Export             175
11  2024        Import             179

Monthly Transaction Count (Imports vs Exports):
      Year  Month Import_Export  Transaction_ID
0    2019      9        Export              20
1    2019      9        Import              20
2    2019     10        Export              28
3    2019     10        Import              30
4    2019     11        Export              20
..    ...    ...           ...             ...
117  2024      7        Import              22
118  2024      8        Export              21
119  2024      8        Import              27
120  2024      9        Export               6
121  2024      9        Import               1

[122 rows x 4 columns]

Observation: The yearly transaction count indicates a general upward trend in both imports and exports from 2019 to 2024, with imports consistently outpacing exports. Notably, in 2022, both imports and exports saw a peak in transaction counts, while exports dipped in 2024.

Managerial Insight: The growth in import transactions suggests a robust demand for imported goods, indicating potential opportunities to strengthen supplier relationships and optimize inventory management. Additionally, the decline in export transactions in 2024 could signal the need for a strategic review of international market engagement and targeted marketing efforts to boost export performance.

In [83]:
#Most commonly exported product

exports = my_sample[my_sample['Import_Export'] == 'Export']

export_product_count = exports['Product'].value_counts()

most_exported_product = export_product_count.idxmax()
most_exported_product_count = export_product_count.max()


print(f"The most commonly exported product is '{most_exported_product}' with {most_exported_product_count} exports.")

The most commonly exported product is 'model' with 7 exports.

Observation: The data reveals that the product labeled 'model' is the most commonly exported item, with a total of 7 exports. This indicates a concentrated preference for this product in international markets, albeit with a relatively low export volume.

Managerial Insight: The limited number of exports for the most commonly exported product suggests an opportunity to expand marketing efforts and enhance distribution channels for 'model.' By analyzing market demand and potential barriers to entry in new regions, management could leverage this product to boost overall export volume and revenue.

In [85]:
#The mean, median, and mode of transaction values across all transactions

mean_value = my_sample['Value'].mean()
median_value = my_sample['Value'].median()
mode_value = my_sample['Value'].mode()[0]

print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

Mean: 5024.565764745084
Median: 5062.13
Mode: 1861.51

Observation: The mean transaction value is approximately 5024.5657, while the median is 5062.13, and the mode is 1861.51. This suggests that most transactions are centered around similar values, with a slight skew toward lower transaction amounts.

Managerial Insight: With the mode significantly lower than the mean, it indicates that a large number of transactions are at the lower end of the value spectrum. Management might focus on increasing the transaction value for the majority of lower-end transactions by upselling or offering value-added services to boost overall revenue.

In [87]:
#the mean and median transaction value by product category

mean_median_by_category = my_sample.groupby('Category')['Value'].agg(['mean', 'median'])
print(mean_median_by_category)

                    mean    median
Category
Clothing     4994.879360  5020.950
Electronics  5063.316099  4955.200
Furniture    5119.430652  5164.985
Machinery    5006.711174  4999.295
Toys         4937.015518  5158.860

Observation: The product categories show relatively similar mean and median transaction values, with Furniture having the highest mean value (5119.430652) and Furniture having the highest median value (5164.985).

Managerial Insight: Furniture, with the highest mean transaction value, may offer an opportunity to focus on high-value transactions. Management could explore targeted marketing strategies to increase sales in this category, as it has the potential to contribute the most revenue per transaction.

In [89]:
#The range, standard deviation, and variance of the weight of shipped products

weight_range = my_sample['Weight'].max() - my_sample['Weight'].min()
weight_std = my_sample['Weight'].std()
weight_var = my_sample['Weight'].var()

print("Range of Weight:", weight_range)
print("Standard Deviation of Weight:", weight_std)
print("Variance of Weight:", weight_var)

Range of Weight: 4997.540000000001
Standard Deviation of Weight: 1442.711941025913
Variance of Weight: 2081417.744778757

Observation: The weight of shipped products shows significant variability, with a large range (4997.54units), a high standard deviation (1442.71), and substantial variance (2081417.74), indicating wide fluctuations in shipment sizes.

Managerial Insight: Given the high variability in shipment weights, optimizing logistics based on product weight could reduce shipping costs. Management might consider implementing weight-based pricing models or streamlining shipments to achieve more consistent load sizes.

In [91]:
#the skewness and kurtosis of transaction values for exports

export_data = my_sample[my_sample['Import_Export'] == 'Export']
skewness = skew(export_data['Value'])
kurt = kurtosis(export_data['Value'])

print("Skewness of Export Transaction Values:", skewness)
print("Kurtosis of Export Transaction Values:", kurt)

Skewness of Export Transaction Values: 0.009911549637440014
Kurtosis of Export Transaction Values: -1.1801646585609522

Observation: The skewness of export transaction values is close to zero (0.009911), suggesting a nearly symmetrical distribution. The negative kurtosis (-1.1801) indicates that the distribution is flatter than a normal distribution, with fewer extreme values.

Managerial Insight: Since export transaction values are relatively symmetrically distributed and lack extreme outliers, management can expect consistent transaction values. This stability could aid in more reliable revenue forecasting and budgeting for export-related operations.

In [93]:
#the coefficient of variation for the quantity of exported products

export_data = my_sample[my_sample['Import_Export'] == 'Export']
mean = np.mean(export_data['Quantity'])
std_dev = np.std(export_data['Quantity'], ddof=1) 
coefficient_of_variation = (std_dev / mean) * 100
print ("Coefficient of variation:", coefficient_of_variation)

Coefficient of variation: 58.330047674327076

Observation: The coefficient of variation for the quantity of exported products is 58.33%, indicating a moderate to high level of variability in the quantities of products exported.

Managerial Insight: The high variability in export quantities suggests that export volumes are inconsistent across transactions. This could signal the need for better demand forecasting or supply chain optimization to reduce fluctuations and maintain steadier export flows.

In [95]:
#Levene’s test to determine if the variance in transaction values differs significantly between product categories
`
grouped_data = [group['Value'].values for name, group in my_sample.groupby('Category')]
statistic, p_value = levene(*grouped_data)
print(f"Levene's Test Statistic: {statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05  # significance level
if p_value < alpha:
    print("Reject the null hypothesis: Variances are significantly different.")
else:
    print("Fail to reject the null hypothesis: Variances are not significantly different.")

Levene's Test Statistic: 0.5795768543610814
P-Value: 0.677460314891204
Fail to reject the null hypothesis: Variances are not significantly different.

Observation: Levene's test reveals a p-value of 0.677, indicating that the variances in transaction values between product categories are not significantly different at a 5% significance level.

Managerial Insight: Since the transaction value variances across product categories are relatively consistent, pricing or cost management strategies can be uniformly applied across categories without concern for drastic variability.

In [97]:
#Shapiro-Wilk test to check if the distribution of transaction values is normally distributed

statistic, p_value = shapiro(my_sample['Value'])

print(f"Shapiro-Wilk Test Statistic: {statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05  # significance level
if p_value < alpha:
    print("Reject the null hypothesis: The distribution is not normally distributed.")
else:
    print("Fail to reject the null hypothesis: The distribution is normally distributed.")

Shapiro-Wilk Test Statistic: 0.955764707731763
P-Value: 2.894898236671382e-29
Reject the null hypothesis: The distribution is not normally distributed.

Observation: The Shapiro-Wilk test shows a p-value of approximately 0, indicating that the transaction values are not normally distributed.

Managerial Insight: Since the distribution of transaction values is not normal, it may be more effective to use non-parametric statistical methods for analysis and decision-making, particularly when assessing transaction trends and customer behaviors.

In [52]:
# Streamlit app title
st.title("Imports and Exports Data Visualization")

DeltaGenerator()

In [54]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [56]:
# Streamlit app title
st.title("Top 10 Countries by Total Exports/Imports")

# Group by 'Country' and sum the 'Quantity', then select the top 10 countries
country_summary = df.groupby('Country')['Quantity'].sum().sort_values(ascending=False).head(10)

# Create a figure and axis for the plot
fig, ax = plt.subplots()

# Bar chart for the top 10 countries
ax.bar(country_summary.index, country_summary.values, color='lightblue')

# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha='right')

# Set titles and labels
ax.set_title('Top 10 Countries by Total Exports/Imports')
ax.set_xlabel('Country')
ax.set_ylabel('Total Quantity')

# Use st.pyplot() to display the figure in Streamlit
st.pyplot(fig)

DeltaGenerator()

In [58]:
# 2. Pie Chart - Distribution of Shipping Methods
st.header("Distribution of Shipping Methods")
shipping_method_counts = df['Shipping_Method'].value_counts()

fig2, ax2 = plt.subplots()
ax2.pie(shipping_method_counts, labels=shipping_method_counts.index, autopct='%1.1f%%', startangle=90, colors=['lightgreen', 'lightblue', 'lightcoral'])
ax2.axis('equal')  # Equal aspect ratio ensures the pie is drawn as a circle.
st.pyplot(fig2)

DeltaGenerator()

In [60]:
# 3. Line Plot - Total Value of Exports/Imports Over Time
st.header("Trend of Total Value of Exports/Imports Over Time")
df['YearMonth'] = df['Date'].dt.to_period('M')  # Grouping by Year-Month
time_series = df.groupby('YearMonth')['Value'].sum()

fig3, ax3 = plt.subplots()
time_series.plot(kind='line', ax=ax3, marker='o', color='coral')
ax3.set_title('Total Value of Exports/Imports Over Time')
ax3.set_xlabel('Date')
ax3.set_ylabel('Total Value')
st.pyplot(fig3)

DeltaGenerator()